@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: 'Inter Tight', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@config "../tailwind.config.js";

html,
body {
	@theme {
		--color-background-50: oklch(41.02% 0.026 196.19);
		--color-background-100: oklch(39.98% 0.025 196.2);
		--color-background-200: oklch(38.19% 0.024 196.19);
		--color-background-300: oklch(37.13% 0.023 196.21);
		--color-background-400: oklch(34.92% 0.022 196.19);
		--color-background-500: oklch(32.74% 0.02 196.23);
		--color-background-600: oklch(30.54% 0.017 196.27);
		--color-background-700: oklch(28.21% 0.016 196.26);
		--color-background-800: oklch(25.91% 0.014 196.32);
		--color-background-900: oklch(24.32% 0.013 196.34);
		--color-background-950: oklch(17.69% 0.008 196.4);

		--color-textcolor-50: oklch(95.42% 0.022 189.88);
		--color-textcolor-100: oklch(93.19% 0.033 189.5);
		--color-textcolor-200: oklch(89.25% 0.051 188.59);
		--color-textcolor-300: oklch(85.64% 0.069 187.91);
		--color-textcolor-400: oklch(81.91% 0.085 187.11);
		--color-textcolor-500: oklch(78.36% 0.098 187.07);
		--color-textcolor-600: oklch(74.55% 0.11 186.11);
		--color-textcolor-700: oklch(68.31% 0.104 185.33);
		--color-textcolor-800: oklch(60.38% 0.092 185.54);
		--color-textcolor-900: oklch(52.18% 0.078 184.68);
		--color-textcolor-950: oklch(47.2% 0.07 185.78);
	}

	@apply bg-background-900 text-textcolor-50;
	h1 {
		font-family: 'Source Serif 4', serif;
		font-weight: 800;
	}

	:root {
		--toastify-color-dark: var(--color-gray-700) !important;
		--toastify-color-info: #359ba6 !important;
		--toastify-color-success: #33b987 !important;
	}

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

body {
	margin: 0;
	height: 100vh;
	background-image: url('/waves-bg.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
