@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: 'Inter Tight', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@config "../tailwind.config.js";

html,
body {
	@apply bg-white dark:bg-gray-950;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}

    background-image: url("/waves-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
